<div class="container-fluid mt-5">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>

    <div class="row">
        <div class="col-12">
            <div *ngFor="let repo of reposList " class="mb-2 card flex-row flex-wrap centerElement">
                <div class="card-header">
                    <img src="{{ repo.owner.avatar_url }}" width="110" height="110" alt="" />
                </div>
                <div class="card-block">
                    <h4 class="card-title centerElement">
                        <b> {{ repo.name }} </b>
                    </h4>
                    <p class="card-text centerElement">{{ repo.description }}</p>
                    <p class="card-text centerElement">
                        <button mat-raised-button color="primary">
              Stars: {{ repo.stargazers_count | shortNumber: 2 }}  
            </button>
                        <button class="mx-2" mat-raised-button color="accent">
              Issues: {{ repo.open_issues | shortNumber : 2 }}
            </button> Submited {{ repo.created_at | timeAgo }} by {{ repo.owner.login }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 p-5 d-flex justify-content-center">
            <ngb-pagination (pageChange)="getRepos($event)" [collectionSize]="1000" [(page)]="page" [maxSize]="2" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

        </div>
    </div>
</div>